{% extends "layouts/base-screen.html" %}

{% block title %} Login {% endblock %}

<!-- Specific page CSS goes here  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

<main>

    <!-- Section -->
    <section class="vh-lg-100 d-flex align-items-center">

        <!-- Container -->
        <div class="container">
            <div class="row justify-content-center form-bg-image"
                data-background="/static/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div
                        class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Login</h1>
                        </div>

                        {% for message in get_flashed_messages() %}
                        <div class="alert-error text-center">
                            <span style="color: red;">{{ message }}</span>
                        </div>
                        {% endfor %}

                        <!-- Form -->
                        <form method="POST" action="" class="mt-4">

                            {{ form.hidden_tag() }}

                            <div class="form-group">

                                <!-- Username form -->
                                <div class="form-group mb-4">
                                    <label for="email">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span
                                                class="fas fa-user-circle"></span></span>
                                        {{ form.username(placeholder="Username", class="form-control") }}
                                    </div>
                                </div>

                                <!-- End of username form -->

                                <!-- Password form -->
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><span
                                                class="fas fa-unlock-alt"></span></span>
                                        {{ form.password(placeholder="Password", class="form-control", type="password")
                                        }}
                                    </div>
                                </div>
                                <!-- End of password form -->

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label" for="defaultCheck5">
                                            Remember Me
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <a href="{{ url_for('auth.register') }}"
                                                class="medium text-right">Register</a>
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <button type="submit" name="login" class="btn btn-block btn-primary">Sign In</button>

                            <br>
                            <p class="text-center">
                                <a href="#" class="text-gray-700">Forgot password?</a>
                            </p>

                        </form>
                        <!-- End of form -->

                    </div>
                </div>
            </div>
        </div>
        <!-- End of container -->

    </section>
    <!-- End of section -->

</main>

{% endblock content %}

<!-- Specific page JS goes here  -->
{% block javascripts %}{% endblock javascripts %}