<!-- Delete Item Modal -->
<div class="modal fade" id="deleteDocument{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Record?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Apakah anda yakin?</p>
            <p>Data yang dihapus tidak dapat dikembalikan.</p>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('home.delete_document', document_id=document.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Download Document Modal-->
<div class="modal fade" id="downloadDocument{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="downloadModalLabel">Download Document - {{ document.file_name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="downloadForm" action="{{ url_for('home.download_document', document_id=document.id) }}" method="POST">
                  <div class="form-group">
                      <label for="decryption_key">Decryption Key:</label>
                      <input type="password" class="form-control" name="decryption_key" minlength="16" maxlength="16" required>
                      <small class="form-text text-muted">Enter a 16-character decryption key.</small>
                  </div>
                  <button type="submit" class="btn btn-primary" id="downloadButton">Download</button>
              </form>
          </div>
      </div>
  </div>
</div>


