{% extends "layouts/base.html" %}

{% block title %} Main Dashboard {% endblock %}

<!-- Specific page CSS goes here  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('home.index') }}"><span class="fas fa-home"></span></a>
                </li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-12 mb-4 text-center">
            <h1>Selamat datang di pusat data Teknik Komputer Jaringan</h1>
        </div>
    </div>

    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific page JS goes here  -->
{% block javascripts %}{% endblock javascripts %}